*{
    margin: 0px;
    padding: 0px;
}
h1 {
    color: rgb(0, 0, 63);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}
h2 {
    color: rgb(0, 0, 63);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 50px;
}
img {
    display: block;
    margin: auto;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.411);
}
button {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 63);
    border-radius: 30px;
    padding: 1em;
    margin: auto;
    display: block;
}
button:hover{
    transition: 0.5s;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
}
a {
    text-decoration: none;
}